  <h3>商品新規登録</h3>

<%= form_with model: @item, url:admin_items_show_path do |f| %>

  <p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>商品名</p>
  <%= f.text_field :name %>

  <p>商品説明</p>
  <%= f.text_area :introduction %>

  <p>ジャンル</p>
  <%= f.select :genre_id %>

  <p>税抜価格</p>
  <%= f.text_area :price %>円

  <%= f.submit '新規登録' %>

<% end %>