  <h3>商品詳細</h3>

<div>
  <%= image_tag item.get_image, size: '100x100' %>
  <p>商品名：<%= XXX.shop_name %></p>
  <p>商品説明：<%= XXX.caption %></p>
  <p>ジャンル：<%= image_tag 'sample-author1.jpg' %></p>
  <p>税込価格(税抜価格)：<%= XXX.user.name %></p>
  <p>商品ステータス：<%= XXX.created_at.strftime('%Y/%m/%d') %></p>
    <%= f.submit '編集する' %>
</div>