<div class="container">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <h2>商品詳細</h2><br>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-5">
　　　<%= image_tag @item.image, size:"400x400", fallback: 'no_image.jpg' %>
    </div>
    <div class="col-md-7">
      <table class="table">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格(税抜価格)</td>
            <td><%= (@item.price*1.1).floor %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
            <% if @item.is_active == true %>
            販売中
            <% else %>
            販売停止中
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-offset-1 col-md-2 text-center">
        <%= link_to "編集する" , edit_admin_item_path(@item), class:"btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
</div>








