      <h3>管理者ログイン</h3>

      <%=form_with model: @admin,url: admin_session_path, method: :post do |f| %>

        <td><%= f.label :"メールアドレス", class: "mr-3" %></td>
        <td><%= f.text_field :email, autofocus: true, class: "mr-5" %></td>

        <td><%= f.label :"パスワード", class: "mr-3" %></td>
        <td><%= f.text_field :password, autocomplete: "current-password", class: "mr-5" %></td>

        <td><%= f.submit'ログイン',class: "btn btn-primary" %></td>
      <% end %>

