  <h3>会員一覧</h3>

    <th>会員ID</th>
    <th>氏名</th></th>
    <th>メールアドレス</th>
    <th>ステータス</th>

  <% @customers.each do |customer| %>

    <td><%= customer.id %></td>
    <%= link_to admin_customer_show_path(@customer.id) do %>
    <td><%= customer.last_name+first_name %></td>
    <% end %>
    <td><%= customer.email %></td>
    <td><%= customer.is_deleted %></td>

  <%end%>