<div class="container">
  <div class="row">
      <h2>注文一覧</h2>
      </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    <div class="order-table">
      <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.order("id DESC").each do |order| %>
            <tr>
              <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order), style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></td>
              <td><%= order.customer.last_name + " " + order.customer.first_name %></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td>
                <%= order.order_status_i18n %>

              </td>
                </tr>
                <% end %>
          </tbody>
        </table>
      <%= paginate @orders, style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %>
    </div>
  </div>
</div>
</div>