  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      <h3><strong>配送先登録/一覧</strong></h3>

  <%=form_with model: @address,url: public_addresses_path, method: :post do |f| %>

  <td><%= f.label :"郵便番号(ハイフンなし)", class: "mr-3" %></td>
  <td><%= f.text_field :postal_code, class: "col-xs-4 form-control-static postal_code" %></td>

  <td><%= f.label :"住所", class: "mr-3" %></td>
  <td><%= f.text_field :address, class: "mr-5" %></td>

  <td><%= f.label :"宛名", class: "mr-3" %></td>
  <td><%= f.text_field :name, class: "mr-5" %></td>
  <td><%= f.submit'新規登録',class: "btn btn-success" %></td>

  <% end %>



<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table-bordered">
        <thead>
            <tr class="address-info">
                <th class="col-xs-2">郵便番号</th>
                <th class="col-xs-6">住所</th>
                <th class="col-xs-2">宛名</th>
                <th class="col-xs-2"></th>
            </tr>
        </thead>
        <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td class="col-xs-2"><%= address.postal_code %></td>
                <td class="col-xs-6"><%= address.address %></td>
                <td class="col-xs-2"><%= address.name %></td>
                <td class="col-xs-2">
                    <%= link_to "編集する", public_address_path(address), class: "glyphicon glyphicon-pencil btn-sm btn-success" %>
                    <%= link_to "削除する", public_address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "glyphicon glyphicon-trash btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
        </tbody>
        </table>
        </div>
    </div>
</div>