<div class="continer">
  <div class="row">
    <div class="col-md-12 col-xl-12">

      <div>
        <strong class="information-link"><h3>ショッピングカート</h3></strong>
        <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, class: "pull-right btn btn-danger" %>
      </div>


      <table class="table table-bordered col-md-10" >
        <thead>
          <tr class="center">
            <th class="col-md-6">商品名</th>
            <th class="col-md-1">単価（税込）</th>
            <th class="col-md-1">数量</th>
            <th class="col-md-1">小計</th>
            <th class="col-md-1"></th>
         </tr>
        </thead>

        <tbody>
          <% @cart_items.each do |cart_item| %>

          <tr>
            <td class="col-md-6">
              <%= image_tag cart_item.item.get_image, size: '100x100' %>
              <%= cart_item.item.name %>
            </td>
            <td class="col-md-1">
              ￥<%= ((cart_item.item.price * 1.1).floor).to_s(:delimited, delimiter: ',') %>
            </td>
            <td class="col-md-1">
              <%=form_with model: cart_item, url: public_cart_item_path(cart_item), method: :patch do |f| %>
              <%= f.select :amount, *[1..9], {prompt: "個数選択"} %>
              <%= f.submit "変更", class:"btn btn-lg btn-success" %>
              <% end %>
              </td>
            <td class="col-md-1">
              <%= (cart_item.item.price * 1.1).floor * cart_item.amount %>
            </td>
            <td class="col-md-1">
              <%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>

           <% @total_price +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>

          <% end %>

        </tbody>
      </table>

  <div class="col-xs-8">
    <span>
      <%= link_to "買い物を続ける", public_items_path, class: "btn btn-primary", data: {"turbolinks" => false} %>
    </span>
  </div>

  <table class="table table-bordered">
    <tr>
      <td class="info col-xs-2"><strong>合計金額</strong></td>
      <td><%= @total_price %></td>
    </tr>
  </table>

  <div class = "col-xs-4 col-xs-offset-4">
    <span>
      <%= link_to "情報入力に進む", new_public_order_path, class: "col-xs-12 btn btn-success"%>
    </span>
  </div>
    </div>
  </div>
</div>