  <h3>注文情報入力</h3>

<%= form_with model: @order, url: public_orders_confirm_path do |f| %>

  <p>支払い方法</p>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, "クレジットカード" %>
<p></p>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, "銀行振込" %>
<p></p>

  <p>お届け先</p>
  <%= f.radio_button :address_method, "address" %>
  <%= f.label :address_method_my_home, "ご自身の住所" %>
<p></p>
  <%= f.radio_button :address_method, "address" %>
  <%= f.label :address_method_registered_address, "登録済住所からの選択" %>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
<p></p>
  <%= f.radio_button :address_method, "address" %>
  <%= f.label :address_method_new_address, "新しいお届け先" %>
  郵便番号<%= f.text_area :postal_code %>
  住所<%= f.text_area :address %>
  宛先<%= f.text_area :name %>
<p></p>

    <%= f.submit "確認画面へ進む" ,class: "btn btn-primary text-right" %>
<p></p>

<% end %>