<h2>商品一覧</h2>(全<%= @items.count %>件)


  <% @items.each do |item| %>

  <%= link_to public_item_path(item.id) do %>
    <%= image_tag item.get_image, size: '200x200' %>
  <% end %>

  <%= item.name %>

  ￥<%= item.price %>

  <% end %>